textarea {
    min-height: 400px;
}

.email_preview_read {
    background-color: #cccccc;
    padding: 20px;
    margin: 10px;
}

.email_preview_unread {
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
}

body {
    padding-bottom: 50px;
}
